.ml12 {
    width: 100%;
    
    color:black;
    font-weight:700;
    font-size: 12vmin;
    letter-spacing: 0.05em;
    
    padding-left: 30px;
    border-left: 10px solid #fff;
}
.ml12 .letter {
    
    display: inline-block;
    line-height: 1em;
}